<div class='dhss-container'>
    <div class="ui-g">
        <div class="ui-g-12">
            <form class="form-inline" #conditionForm="ngForm">

                <button pButton type="button" (click)='addUnit()' icon="fa-plus" i18n-label label="添加"></button>

                <p-dropdown name="neType" [style]="{'width':'150px'}" [(ngModel)]="queryNeType" [options]="searchFilterData.neType" filter="filter" styleClass="ui-column-filter" (onChange)="filterUnitAndTypeQueryData()"></p-dropdown>
                <p-dropdown name="neName" [style]="{'width':'150px'}" [(ngModel)]="queryNeName" [options]="searchFilterData.ne" filter="filter" styleClass="ui-column-filter"></p-dropdown>
                <p-dropdown name="unitType" [style]="{'width':'150px'}" [(ngModel)]="queryUnitType" [options]="searchFilterData.unitType" filter="filter" styleClass="ui-column-filter"></p-dropdown>
                <input type="text" pInputText [(ngModel)]="paramStr" i18n-placeholder placeholder="单元名称,ip" name='paramStr' [style]="{'width':'168px'}" />
                <button pButton type="button" icon="fa-search" i18n-label label="查询" (click)="query()"></button>
                <button pButton type="button" class="ui-button-secondary" (click)="resetQuery()" icon="fa-rotate-left" i18n-label label="重置"></button>
                <button pButton type="button" class="ui-button-success" (click)="exportUnit()" icon="fa-rotate-left" i18n-label label="导出"></button>
            </form>
        </div>
        <div class="ui-g-12">
            <p-dataTable [value]="unitList" [rows]="15" [paginator]="true" [lazy]="true" [totalRecords]="totalRecords" [rowsPerPageOptions]="[15,20,25,30,40,50]" (onLazyLoad)="getUnitData($event)">
                <!--<p-header>List of Cars</p-header> -->
                <p-column field="neType" i18n-header header="网元类型"></p-column>
                <p-column field="neName" i18n-header header="网元名称"></p-column>
                <p-column field="unitType" i18n-header header="单元类型"></p-column>
                <p-column field="unitName" i18n-header header="单元名称"></p-column>

                <p-column field="coDn" i18n-header header="CO_DN"></p-column>
                <!--<p-column field="coGid" i18n-header header="CO_GID"></p-column>-->

                <p-column field="physicalLocation" i18n-header header="位置"></p-column>
                <p-column field="unitSwVersion" i18n-header header="软件版本"></p-column>
                <p-column field="unitIdsVersion" i18n-header header="硬件版本"></p-column>

                <p-column field="serverIp" i18n-header header="登录IP"></p-column>
                <p-column field="isForbidden" i18n-header header="是否禁用">
                    <ng-template pTemplate="default" let-item="rowData">
                        {{item.isForbidden ? 'Yes': 'No'}}
                    </ng-template>
                </p-column>
                <p-column field="serverProtocol" i18n-header header="登录协议"></p-column>
                <p-column field="unitDesc" i18n-header header="描述"></p-column>
                <p-column i18n-header [style]="{'width':'230px'}" header="操作">
                    <ng-template pTemplate="default" let-item="rowData">
                        <button pButton type="button" class="ui-button-secondary" (click)="editUnit(item)" icon="fa-edit" i18n-label label="编辑"></button>
                        <button pButton type="button" class="ui-button-danger" (click)="deleteItem(item)" icon="fa-remove" i18n-label label="删除"></button>
                        <!-- <button pButton type="button" class="ui-button-success" (click)="saveItem(item)" icon="fa-edit" i18n-label label="另存为"></button> -->
                    </ng-template>
                </p-column>
            </p-dataTable>
        </div>
    </div>

    <!-- 编辑 -->

    <p-dialog i18n-header header="添加/编辑单元" [(visible)]="editUnitDisplay" modal="modal" width="900" responsive="true">
        <!--<div class="ui-g-12">-->
        <form [formGroup]="checkForm" #from>
            <div class="ui-grid ui-grid-responsive ui-fluid" *ngIf="editUnitItem">
                <!--<div class="ui-g-12">-->
                <div class="ui-grid-row">
                    <div class="ui-g-2 custom-label"><label i18n>网元类型</label><span style="color:red">*&nbsp;</span></div>
                    <div class="ui-g-3">
                        <!-- <p-dropdown [(options)]="neType" appendTo="body" [(ngModel)] = "editUnitItem.neType"  [style]="{'width':'100%'}" filter="filter" styleClass="ui-column-filter" (onChange)="filterUnitAndTypeData()" ></p-dropdown> -->
                        <p-dropdown inputStyleClass='form-control' [options]="editFilterData.neType" [style]="{'width':'100%'}" formControlName="neType" (onChange)="filterUnitAndTypeData(checkForm)"></p-dropdown>
                    </div>
                    <div class="ui-g-2 custom-label"><label i18n>用户名</label><span style="color:red">*&nbsp;</span></div>
                    <div class="ui-g-3">
                        <!--<input type="text" pInputText [style]="{'width':'200px'}" [(ngModel)]="editUnitItem.loginName" i18n-placeholder placeholder="用户名" name='serverIp'/>-->
                        <input inputStyleClass='form-control' type="text" pInputText formControlName="loginName" />
                    </div>
                </div>
                <div class="ui-grid-row">
                    <div class="ui-g-2 custom-label"><label i18n>网元</label><span style="color:red">*&nbsp;</span></div>
                    <div class="ui-g-3">
                        <!-- <p-dropdown [(options)]="neList" appendTo="body" [(ngModel)] = "editUnitItem.neId"  [style]="{'width':'100%'}" filter="filter" styleClass="ui-column-filter"  ></p-dropdown>-->
                        <p-dropdown inputStyleClass='form-control' [options]="editFilterData.ne" [style]="{'width':'100%'}" formControlName="neId"></p-dropdown>
                    </div>
                    <div class="ui-g-2 custom-label"><label i18n>密码</label><span style="color:red">*&nbsp;</span></div>
                    <div class="ui-g-3">
                        <!--<input type="password" pPassword  [style]="{'width':'200px'}" [(ngModel)]="editUnitItem.loginPassword" i18n-placeholder placeholder="密码" name='serverIp'/>-->
                        <input inputStyleClass='form-control' type="password" pInputText formControlName="loginPassword" />
                    </div>
                </div>
                <div class="ui-grid-row">
                    <div class="ui-g-2 custom-label"><label i18n>单元类型</label><span style="color:red">*&nbsp;</span></div>
                    <div class="ui-g-3">
                        <!--<p-dropdown [(options)]="unitType" appendTo="body" [(ngModel)] = "editUnitItem.unitType"  [style]="{'width':'100%'}" filter="filter" styleClass="ui-column-filter" ></p-dropdown>-->
                        <p-dropdown inputStyleClass='form-control' [options]="editFilterData.unitType" [style]="{'width':'100%'}" formControlName="unitType"></p-dropdown>
                    </div>
                    <div class="ui-g-2 custom-label"><label i18n>ROOT密码</label><span style="color:red">*&nbsp;</span></div>
                    <div class="ui-g-3">
                        <!--<input type="password" pPassword [style]="{'width':'200px'}" [(ngModel)]="editUnitItem.rootPassword" i18n-placeholder placeholder="ROOT密码" name='serverIp'/>-->
                        <input inputStyleClass='form-control' type="password" pInputText formControlName="rootPassword" />
                    </div>
                </div>

                <div class="ui-grid-row">
                    <div class="ui-g-2 custom-label"><label i18n>单元名称</label><span style="color:red">*&nbsp;</span></div>
                    <div class="ui-g-3">
                        <!--<input type="text"  required pInputText [style]="{'width':'200px'}" [(ngModel)]="editUnitItem.unitName" i18n-placeholder placeholder="单元名称" name='unitName'/>-->
                        <input inputStyleClass='form-control' type="text" pInputText formControlName="unitName" />
                    </div>
                    <div class="ui-g-2 custom-label"><label i18n>登录IP</label><span style="color:red">*&nbsp;</span></div>
                    <div class="ui-g-3">
                        <!--<input type="text" pInputText [style]="{'width':'200px'}" [(ngModel)]="editUnitItem.serverIp" i18n-placeholder placeholder="登录IP" name='serverIp'/>-->
                        <input inputStyleClass='form-control' type="text" pInputText formControlName="serverIp" />
                    </div>
                </div>
                <div class="ui-grid-row">
                    <div class="ui-g-2 custom-label"><label i18n>CO_DN</label></div>
                    <div class="ui-g-3">
                        <input inputStyleClass='form-control' type="text" pInputText formControlName="coDn" />
                    </div>
                    <div class="ui-g-2 custom-label"><label i18n>端口</label><span style="color:red">*&nbsp;</span></div>
                    <div class="ui-g-3">
                        <!--<input type="text" pInputText [style]="{'width':'200px'}" [(ngModel)]="editUnitItem.serverPort" i18n-placeholder placeholder="端口" name='serverIp'/>-->
                        <p-spinner inputStyleClass='form-control' formControlName="serverPort" size="30"></p-spinner>
                    </div>
                </div>
                <div class="ui-grid-row">
                    <!--<div class="ui-g-2 custom-label"><label i18n>CO_GID</label><span style="color:red">*&nbsp;</span></div>
                    <div class="ui-g-3">
                        <input inputStyleClass='form-control' type="text" pInputText formControlName="coGid" />
                    </div>-->
                    <div class="ui-g-2 custom-label"><label i18n>CO_GID</label></div>
                    <div class="ui-g-3">
                        <input inputStyleClass='form-control' type="text" pInputText formControlName="coGid" />
                    </div>
                    <div class="ui-g-2 custom-label"><label i18n>登录协议</label><span style="color:red">*&nbsp;</span></div>
                    <div class="ui-g-3">
                        <!--<p-dropdown [(options)]="protocol" appendTo="body" [(ngModel)] = "editUnitItem.serverProtocol"  [style]="{'width':'100%'}" styleClass="ui-column-filter"  ></p-dropdown>-->
                        <p-dropdown inputStyleClass='form-control' [options]="protocol" [style]="{'width':'100%'}" formControlName="serverProtocol"></p-dropdown>
                    </div>
                </div>

                <div class="ui-grid-row">
                    <div class="ui-g-2 custom-label"><label i18n>软件版本</label></div>
                    <div class="ui-g-3">
                        <input inputStyleClass='form-control' type="text" pInputText formControlName="unitSwVersion" />
                    </div>
                    <div class="ui-g-2 custom-label"><label i18n>硬件版本</label></div>
                    <div class="ui-g-3">
                        <input inputStyleClass='form-control' type="text" pInputText formControlName="unitIdsVersion" />
                    </div>
                </div>

                <!--<div class="ui-grid-row">
                        <div class="ui-g-3 custom-label"><label i18n>UNIT_IDS_VERSION</label><span style="color:red">&nbsp;</span></div>
                        <div class="ui-g-9">
                            <input inputStyleClass='form-control' type="text" pInputText formControlName="unitIdsVersion" />
                        </div>
                    </div>-->

                <div class="ui-grid-row">
                    <div class="ui-g-2 custom-label"><label i18n>位置</label></div>
                    <div class="ui-g-3">
                        <input inputStyleClass='form-control' type="text" pInputText formControlName="physicalLocation" />
                    </div>
                    <div class="ui-g-2 custom-label"><label i18n>是否有效</label><span style="color:red">*&nbsp;</span></div>
                    <div class="ui-g-3">
                        <!--<p-inputSwitch i18n-onLabel onLabel="禁用" i18n-offLabel offLabel="可用" [(ngModel)]="editUnitItem.isForbidden" name='isForbidden'></p-inputSwitch> -->
                        <p-inputSwitch inputStyleClass='form-control' i18n-onLabel onLabel="禁用" i18n-offLabel offLabel="可用" [style]="{'width':'100%'}" formControlName="isForbidden"></p-inputSwitch>
                    </div>
                </div>
                <div class="ui-grid-row">
                    <div class="ui-g-2 custom-label"><label i18n>描述</label><span style="color:red">&nbsp;</span></div>
                    <div class="ui-g-3">
                        <input inputStyleClass='form-control' type="text" pInputText formControlName="unitDesc" />
                    </div>
                </div>

                <!--<div class="ui-grid-row">
                        <div class="ui-g-3 custom-label"><label i18n>登录IP</label>:<span style="color:red">*&nbsp;</span></div>
                        <div class="ui-g-9">
                            <input inputStyleClass='form-control' type="text" pInputText formControlName="serverIp" />
                        </div>
                    </div>-->

                <!--<div class="ui-grid-row">
                        <div class="ui-g-3 custom-label"><label i18n>端口</label>:<span style="color:red">*&nbsp;</span></div>
                        <div class="ui-g-9">
                            <p-spinner inputStyleClass='form-control' formControlName="serverPort" size="30"></p-spinner>
                        </div>
                    </div>-->
                <!--<div class="ui-grid-row">
                        <div class="ui-g-3 custom-label"><label i18n>登录协议</label>:<span style="color:red">*&nbsp;</span></div>
                        <div class="ui-g-9">
                            <p-dropdown inputStyleClass='form-control' [options]="protocol" [style]="{'width':'100%'}" formControlName="serverProtocol"></p-dropdown>
                        </div>
                    </div>-->
                <!--<div class="ui-grid-row">
                        <div class="ui-g-3 custom-label"><label i18n>用户名</label>:<span style="color:red">*&nbsp;</span></div>
                        <div class="ui-g-9">
                            <input inputStyleClass='form-control' type="text" pInputText formControlName="loginName" />
                        </div>
                    </div>-->
                <!--<div class="ui-grid-row">
                        <div class="ui-g-3 custom-label"><label i18n>密码</label>:<span style="color:red">*&nbsp;</span></div>
                        <div class="ui-g-9">
                           <input inputStyleClass='form-control' type="password" pInputText formControlName="loginPassword" />
                        </div>
                    </div>-->
                <!--<div class="ui-grid-row">
                        <div class="ui-g-3 custom-label"><label i18n>ROOT密码</label>:<span style="color:red">*&nbsp;</span></div>
                        <div class="ui-g-9">
                            <input inputStyleClass='form-control' type="password" pInputText formControlName="rootPassword" />
                        </div>
                    </div>-->
                <!--<div class="ui-grid-row">
                        <div class="ui-g-3 custom-label"><label i18n>是否有效</label><span style="color:red">*&nbsp;</span></div>
                        <div class="ui-g-9">
                           <p-inputSwitch inputStyleClass='form-control' i18n-onLabel onLabel="禁用" i18n-offLabel offLabel="可用" [style]="{'width':'100%'}" formControlName="isForbidden"></p-inputSwitch>
                        </div>
                    </div>-->
            </div>
        </form>
        <p-footer>
            <div style="text-align: center">
                <button pButton type="text" class="ui-button-danger" i18n-label label="提交" icon="fa-check" (click)='saveOrEditItem(checkForm.value)' [disabled]="!checkForm.valid"></button>
                <button pButton type="text" i18n-label label="取消" icon="fa-close" (click)="editUnitDisplay=false"></button>
                <span *ngIf="showSaveUnitButton">
                    <button pButton type="text" class="ui-button-success" i18n-label label="另存为新单元" icon="fa-close" (click)="saveItemClick(checkForm.value)"></button>
                </span>
            </div>
        </p-footer>
    </p-dialog>

    <!-- 删除确认对话框 -->
    <p-dialog i18n-header header="删除单元" [(visible)]="deleteUnitDisplay" modal="modal" width="300" responsive="true">
        <p>
            <span i18n>确认删除</span>
        </p>
        <p-footer>
            <div class="ui-dialog-buttonpane ui-widget-content">
                <button type="button" pButton icon="fa-check" (click)="removeUnit()" i18n-label label="确认"></button>
                <button type="button" pButton icon="fa-close" (click)="deleteUnitDisplay=false" i18n-label label="取消"></button>
            </div>
        </p-footer>
    </p-dialog>

    <!-- 另存为确认对话框 -->
    <p-dialog i18n-header header="另存为新单元" [(visible)]="saveUnitDisplay" modal="modal" width="300" responsive="true">
        <p>
            <span i18n>确认另存为新单元</span>
        </p>
        <p-footer>
            <div class="ui-dialog-buttonpane ui-widget-content">
                <button type="button" pButton icon="fa-check" (click)="saveItem()" i18n-label label="确认"></button>
                <button type="button" pButton icon="fa-close" (click)="saveUnitDisplay=false" i18n-label label="取消"></button>
            </div>
        </p-footer>
    </p-dialog>
</div>
<p-growl [value]="msgs"></p-growl>