<div class="home-container">
     <div class="n-main-home">
        <div class="content-pad">
            <h4 i18n>智能巡检</h4>
            <div class="ui-g">
                <div class="ui-lg-2 ui-g-3 ui-sm-12 ui-g-nopad text-center">
                    <div class="thumbnail">
                        <a class="btn n-icon n-icon-color3" routerLink="/workspace/smart/result">
                            <i class="fa fa-newspaper-o"></i>
                        </a>
                        <p i18n>智能巡检结果</p>
                    </div>
                </div>
                <div class="ui-lg-2 ui-g-3 ui-sm-12 ui-g-nopad text-center">
                    <div class="thumbnail">
                        <a class="btn n-icon n-icon-color2" routerLink="/workspace/smart/manage">
                            <i class="fa fa-retweet"></i>
                        </a>
                        <p i18n>巡检方案配置</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <footer>THE SYSTEM DEVELOPED BY NOKIA</footer>
</div>

