<div class='dhss-container'>
  <div class="ui-grid-row">
      <div class="ui-g-12">
          <p-dropdown name="hlrsns" [style]="{'width':'11%'}" [options]="hlrsns" [(ngModel)]="hlrsnSelected" filter="filter"></p-dropdown>
          <p-dropdown name="operationNames" [style]="{'width':'11%'}" [options]="operationNames" [(ngModel)]="operationNameSelected" filter="filter"></p-dropdown>
          <p-dropdown name="errorCodes" [style]="{'width':'11%'}" [options]="errorCodes" [(ngModel)]="errorCodeSelected" filter="filter"></p-dropdown>
          <p-dropdown name="resultTypes" [style]="{'width':'11%'}" [options]="resultTypes" [(ngModel)]="resultTypeSelected" filter="filter"></p-dropdown>
          <p-calendar [(ngModel)]="startDate" name="startDate" [showIcon]="true" dateFormat="yy-mm-dd" [locale]="en_US" showTime="showTime"
              hourFormat="24"></p-calendar>
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          <p-calendar [(ngModel)]="endDate" name="endDate" [showIcon]="true" dateFormat="yy-mm-dd" [locale]="en_US" showTime="showTime"
              hourFormat="24"></p-calendar>
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <button pButton type="button" class="ui-button-info" icon="fa-search" i18n-label label="查询" (click)="query()"></button>
            <button pButton type="button" class="ui-button-success" icon="fa-file-excel-o" i18n-label label="导出" (click)="export()"></button>
      </div>
  </div>
  <div class="ui-grid-row">
    <div class="ui-g-12">
      <p-chips name="numberString" [(ngModel)]="numberString" i18n-placeholder placeholder="请输入IMSI/MSISDN并键入回车"
      [style]="{'width': '400px'}" [inputStyle]="{'width': '400px'}"></p-chips>
    </div>
  </div>
  <div class="ui-g-12">
      <p-dataTable [value]="bossDataTable" resizableColumns="true" columnResizeMode="expand" [lazy]="true" [rows]="15" [paginator]="true"
      [totalRecords]="totalRecords" [rowsPerPageOptions]="[15,20,25,30,40,50]" (onLazyLoad)="getBossDataTable($event)"   styleClass="bossPageClass">
          <p-column field="task_id" i18n-header header="请求ID"></p-column>
          <p-column field="response_time" i18n-header header="响应时间"></p-column>
          <p-column field="response_status" i18n-header header="执行结果"></p-column>
          <p-column field="error_code" i18n-header header="错误码"></p-column>
          <p-column field="error_message" i18n-header header="错误信息"></p-column>
          <p-column field="hlrsn" i18n-header header="HLRSN"></p-column>
          <p-column field="msisdn" i18n-header header="MSISDN"></p-column>
          <p-column field="imsi" i18n-header header="IMSI"></p-column>
          <p-column field="operation_name" i18n-header header="指令"></p-column>
          <p-column field="query_detail" i18n-header header="查看详情">
            <ng-template let-bossLogData="rowData" pTemplate="body">
                <button pButton type="button" (click)="queryRowBtn(bossLogData)" icon="fa-search" (click)="showDialog()" i18n-label
                    label="查看详情"></button>
            </ng-template>
        </p-column>
          <p-footer><span><label i18n>总数</label> {{totalRecords}}</span></p-footer>
      </p-dataTable>
  </div>
  <p-dialog i18n-header header="BOSS日志详情" [(visible)]="display" width="800" modal=true>
    <textarea rows="5" cols="90" [(ngModel)]="soapLog" pInputTextarea></textarea>
    <textarea rows="15" cols="90" [(ngModel)]="errLog" pInputTextarea></textarea>
</p-dialog>
</div>
<p-growl [(value)]="msgs" life="10000"></p-growl>