.navbar-fixed-top {
    margin-bottom: 0;
    height: 36px;
    line-height: 36px;
    background-color: #124191;
    box-shadow: 0 1px 3px rgba(0, 33, 88, 0.25), 0 -1px 0 rgba(0, 33, 88, 0.25) inset;
    -webkit-box-shadow: 0px 1px 3px rgba(0, 33, 88, 0.25);
    padding: 0px 10px;
}

.navbar-fixed-top img.logo {
    margin-top: 3px;
    max-height: 30px;
    max-width: 90%;
}

.user-info {
    color: #fff;
    text-align: right;
}

.user-info .fa {
    color: #fff;
}

.user-info .fa:hover {
    color: #FEB100;
}
.custom-label {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    text-align: right;
}